

#fullscreen-code-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  overflow: auto;
}

.language-json {
  position: relative;
}

.fullscreen-toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10000000;
  color: black !important;
}

.vue-portal-target {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

